* {
  /* border: 1px red solid; */
}

body {
  margin: 0;
  height: 100%;
  text-align: center;
}

.margin5 {
  margin: 5px;
}

.margin-photo {
  margin: 15px 20px 20px 30px;
}

.marginTop5 {
  margin-top: 5px;
}

.marginTop30 {
  margin-top: 30px;
}

.email {
  margin-right: 2px;
  margin-left: 2px;
}

.width60px {
  width: 60px;
}

#lastUpdateYear,
#birthdayYear,
#age {
  width: 58px;
}

#lastUpdateMonth,
#lastUpdateDay,
#birthdayMonth,
#birthdayDay {
  width: 45px;
}

.label-length100 {
  width: 100px;
}

.label-length75 {
  width: 75px;
}

.label-length55 {
  width: 55px;
}

.label-length80 {
  width: 80px;
}

.height70 {
  height: 70px;
}

.height50 {
  height: 50px;
}

.height30 {
  height: 20px;
}

#title {
  font-size: xx-large;
}

.font-xLarge {
  font-size: x-large;
}
.font-large {
  font-size: large;
}

.bold {
  font-weight: bolder;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.col {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.text-center {
  text-align: center;
}

.text-vertically-center {
  align-items: center;
}

.padding-side {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.border {
  border: 1px solid black;
}

.furigana-border {
  border-bottom-style: dotted;
}

.name-border {
  border-top: none;
}

#photo-image {
  width: 30mm;
  height: 40mm;
  background-color: darkgray;
  display: flex;
  align-items: flex-end;
}

.photo-part {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40mm;
}

input[type="file"]::-webkit-file-upload-button {
  width: 100%;
}

.uploaded-image {
  height: 100%;
  width: 100%;
}

table {
  width: 100%;
}

td > input {
  width: 90%;
}

#a4 {
  width: 210mm;
  height: 297mm;
  border: 1px solid black;
  box-shadow: 2px 2px 2px grey;
  margin: 0px auto;
  padding: 50px;
  background-color: rgb(243, 244, 245);
}

#edit-window {
  padding: 50px;
  width: 210mm;
  max-height: 600px;
  position: absolute;
  z-index: 2;
  background-color: rgb(191, 241, 241);
  overflow: scroll;
  cursor: move;
}

table,
td,
tr,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

.print-btn {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

@media print {
  body {
    visibility: hidden;
  }

  #a4,
  main,
  header,
  .css-fiov70,
  #title,
  .print-btn {
    margin: 0;
  }

  #a4 {
    margin: 0 auto;
    scale: 105% 105%;
    border: black solid 2px;
  }

  #a4,
  #a4 * {
    visibility: visible;
  }
}
